body{
    text-align: center;
}
.skills-main-container{
    height: 82vh;
    display:flex;
}
.card{
    padding:1.3rem ;
    height:5rem;
    width:5rem;
    background-color: antiquewhite;
    border-radius: 10%;
    scale: 1;
    transition: all 0.3s ease;
}
.iconContainer{
    padding-top: 1rem;
    /* border: 1px solid red; */
}
.icon{
    scale:1.4;
}
.card:hover{
    background-color: rgb(248, 196, 99);
    transform: scale(1.1);
}